/*we use ../ because we created a folder for scss.  need to go up a directory*/

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

@import 'header';

body{
    background-color: mediumpurple;
    font-family: 'Righteous', cursive;
}

header{
    background-color: rebeccapurple;

    h1{
        text-align: center;
        
    }
}

h2,{
    color: rebeccapurple;
     margin-left: 20px;
     padding: 10px;
}

h3{
margin-left: 20px;
     padding: 10px;
}

button{
    background-color: rebeccapurple;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10%;
}

#showDate, #enterDate, #math{
    border: 3px solid black;
    margin: 10px;
}

input{
    margin-left: 20px;
}